
cymscanning\.xcodeproj/xcuserdata/changyongmei\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

cymscanning\.xcodeproj/project\.pbxproj

cymscanning\.xcodeproj/project\.xcworkspace/xcuserdata/changyongmei\.xcuserdatad/UserInterfaceState\.xcuserstate
